<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--xml配置文件的头部包括两个部分：xml声明和DTD声明-->

<!--定义log4j的名字空间-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--输出方式appender一般有5种：
      org.apache.log4j.RollingFileAppender(滚动文件，自动记录最新日志)
      org.apache.log4j.ConsoleAppender (控制台)
      org.apache.log4j.FileAppender (文件)
      org.apache.log4j.DailyRollingFileAppender (每天产生一个日志文件)
      org.apache.log4j.WriterAppender (将日志信息以流格式发送到任意指定的地方)-->
	<!--name:定义appender的名字,以便被后文引用,class:定义appender对象所属的类全名-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<!--layout:该appender使用的layout对象,class:定义layout对象所属的类的全名,param:创建layout对象
		是传递给类构造方法的参数-->
		<layout class="org.apache.log4j.PatternLayout">
			<!--格式说明layout中的参数都以%开始，后面不同的参数代表不同的格式化信息（参数按字母表顺序列出）：
     %c    输出所属类的全名，可在修改为 %d{Num} ,Num类名输出的维（如："org.apache.elathen.ClassName",%C{2}将输出elathen.ClassName）
     %d    输出日志时间其格式为 %d{yyyy-MM-dd HH:mm:ss,SSS}，可指定格式 如 %d{HH:mm:ss}
     %l    输出日志事件发生位置，包括类目名、发生线程，在代码中的行数
     %n    换行符
     %m    输出代码指定信息，如info(“message”),输出message
     %p    输出优先级，即 FATAL ,ERROR 等
     %r    输出从启动到显示该log信息所耗费的毫秒数
     %t    输出产生该日志事件的线程名-->
			<param name="ConversionPattern" value="%d %-5p - %m%n"/>
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<!--param:创建appender对象时传递给类构造方法的参数-->
		<!--File:日志文件名-->
		<param name="File" value="./log/debug.log"/>
		<!--如果已经有文件了,是否追加true或false(默认)-->
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %m%n"/>
		</layout>
	</appender>

	<!-- logger元素定义一个日志输出器,为不同的包(类)使用不同的log配置,
	name:定义logger的名字,以便被后文引用,
	additivity:取值为true(默认)或者false,是否继承父logger的属性-->
	<logger name="com.will.log4jtest" additivity="false">
		<!--level:定义该logger的日志级别-->
		<level value="debug"/>
		<!--appender-ref:定义该logger的输出目的地-->
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</logger>

	<logger name="com.will.test" additivity="false">
		<level value="debug"/>
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="console"/>
	</root>

</log4j:configuration>
