h1 {color:orange; font-size:28px;}
p { color: #f00;
    font-family: "sans serif", serif;}
.spittleMessage {color: blue; font-size: 15px;}

fieldset{
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 .625em;
}

label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

input{
    font-size: inherit;
}

div.error {
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error {
    color: red;
}